<div class="col-md-1">
  <span class="glyphicon glyphicon-briefcase"></span>
</div>
<div class="col-md-9">
  <input id="name" class="entry" name="name" type="text" placeholder="Name" value="{{name}}">
  <input id="amount" class="entry" name="amount" type="number" step="any" min="0" placeholder="Amount" value="{{amount}}">
  <input id="interest" class="entry" name="interest" type="number" step="any" min="0" placeholder="Interest" value="{{interest}}">
  <input id="payment" class="entry" name="payment" type="number" step="any" min="0" placeholder="Monthly Payment" value="{{payment}}">
  
  <div class="loan-buttons">
  	<a href="javascript:void(0);" class="btn btn-primary btn-xs loan-update pull-right disabled">update</a>
  	<a href="javascript:void(0);" class="btn btn-primary btn-xs loan-remove pull-right">remove</a>
  </div>
</div>