<div class="col-md-1">
  <span class="glyphicon glyphicon-briefcase"></span>
</div>
<div class="col-md-9">
  <input id="name" name="name" type="text" placeholder="Name" value="{{name}}">
  <input id="amount" name="amount" type="number" placeholder="Amount" value="{{amount}}">
  <input id="interest" name="interest" type="number" placeholder="Interest" value="{{interest}}">
  <input id="payment" name="payment" type="number" placeholder="Monthly Payment" value="{{payment}}">
  <a class="loan-remove pull-right" href="javascript:void(0);">remove</a>
</div>