$icon-font-path: "fonts/";

@import 'sass-bootstrap/lib/bootstrap';

header {
    text-align: center;
}

#main {
	.loading {
		max-width: 450px;
		margin: 50px auto;
		text-align: center;
	}
}

// Loans
.loans {
	> h3 {
		padding-bottom: 15px;
	}
	.loan {
		.buttons {
			height: 30px;
			margin-right: -15px;
		}
		.loan-update {
			margin-left: 10px;
		}
	}
}

// Strategies
.strategies {
	.strategy {
		.description {
			min-height: 70px;
		}
		.options {
			.payment-focus-label {
				margin-top: 10px;
				margin-bottom: 0;
			}

			.radio {
				margin: 2px
			}
		}
	}
}

.clearBoth { clear: both; }

// Graph
#graph {
	
}