$icon-font-path: "fonts/";

@import 'sass-bootstrap/lib/bootstrap';

header {
    text-align: center;
}

// Loans
.loans {
	.loan {
		padding: 0;
		margin-left: 0;
		margin-right: -47px;
		width: 252px;

		.glyphicon-briefcase {
			margin-top: 5px;
		}

		.entry {
			display: block;
			padding: 2px 0 2px 5px;
			border: solid 2px #FFF;
			color: #888;

			&:hover {
				border: solid 2px #EEE;
				color: #000;
			}
		}

		#name {
			color: #000;
		}

		.loan-buttons {
			margin-top: 5px;
			margin-right: 5px;
		}

		.loan-update {
			margin-left: 10px;
		}
	}
}

// Strategies
.strategies {
	margin: 0;
	
	.strategy {
		max-width: 480px;
		min-height: 220px;
		padding: 10px;
		margin: 0 10px 10px 0;
		
		.name { 
			margin-top: 0;
		}

		border: solid 2px #DDD;

		.options {
			legend {
				font-size: 18px;
			}
			#snowball {
				width: 105px;
			}
		}
	}
}

.clearBoth { clear: both; }

// Graph
#graph {
	
}